*{
    padding: 0;
    margin: 0;
}
.app{
    margin: 50px;
}
footer{
    height: 60px;
    line-height: 60px;
}
footer a, footer span{
    display: inline-block;
    width: 80px;
    text-align: center
}